<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<title>mood tracking</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" type="image/png" href="{{ favicon }}">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/daily.css') }}">
</head> -->
{% extends "testlayout.html" %}
{% block content %}
<body>
    
    <div class="container">
    <header>
      <h2>daily mood tracker</h2>
      <p>keep track of your mood</p>
 
    </header>
    <main id="main">
    </main>
  
    </div>
    {% block content2 %}{% endblock %}
    <script src="js/mood.js"></script>
    
</body>
{% endblock content %}

  