:root {
  --defaultColor: #bbb;
  --moodColor: #bbb;
}
header {
  text-align: center;
}

.column {
  max-width: 200px;
  margin: 10px 0;
}
li {
  margin-bottom: 0;
}


.dot {
  height: 25px;
  width: 25px;
  background-color: var(--defaultColor);
  border-radius: 50%;
  display: inline-block;
}
.dot:hover, .far {
  cursor: pointer;
}
.selected {
  background-color: var(--moodColor)
}
.far, .fas {
  font-size: 40px;
}

}
.fa-smile {  
  color:lightgreen;
}
.fa-meh {  
  color:yellowgreen;
}

.fa-sad-tear {  
  color:blue;
}


@media (min-width: 250px) {
  .container {
    width: 85%;
  }
}

@media (min-width: 550px) {
  .one-third.column {
    width: 85%;
  }
}