<!DOCTYPE html>
<html lang="en">
<head> 
    <title>internet shuffler</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" type="image/png" href="{{ favicon }}"> <!--"images/icons/favicon.ico"/> -->
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/util.css') }}">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/newtest2.css') }}">
</head>
    
    <div class="col-md-8">
      <h2>internet shuffler.</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
               <div class="alert alert-{{ category }}">
                 {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>
<div class = "limiter">
  <div class="container-login100">
			<div class="wrap-login100">
				<div class="login200-pic js-tilt" data-tilt>
          
    {% block content %}{% endblock %}
        </div>
      </div>
  </div>
  </div>
</html>