{% extends "testlayout.html" %}
{% block content %}
<body>
    <h2>{{ subtitle }}</h2>
    <p>{{ text }}</p>
    {% include 'moodhistorytlgraph.html' %}
  <br>
  <br>
    {% include 'moodhistorypiegraph.html' %}
  <form method="post" action="/daily">
        <div class="container-login100-form-btn">
            <button class="login100-form-btn">
                {{ form.submit(class="container-login100-form-btn login100-form-btn") }}
            </button>
        </div>
    </form>
</body>
{% endblock content %}