{% extends "testlayout.html" %}
{% block content %}
<body>
  <div class="limiter">
    <div class="container-login100" id="login-box">
      <div class="wrap-login100">
    <div class="login100-pic js-tilt" data-tilt>
					<img src="{{ image_1 }}" > <!--"images/img-01.png" alt="IMG">-->
				</div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
    <!--<fieldset>-->
    
      <div class="left">
        <h1>sign up</h1>
      
        <!--<input type="text" name="username" placeholder="username" />-->
        <div class="wrap-input100 validate-input">
        {% if form.username.errors %}
           {{ form.username(class="input100", placeholder="username") }}
           <div class="validate-input">
             {% for error in form.username.errors%}
                 <span>{{error}}</span>
             {% endfor %}
           </div>
       {% else %}
           {{ form.username(class="input100", placeholder="username") }}
       {% endif %}
       </div>

        <br>
        <!--<input type="text" name="email" placeholder="email" />-->
        <div class="wrap-input100 validate-input">
        {% if form.email.errors %}
           {{ form.email(class="input100", placeholder="email") }}
           <div class="right">
             {% for error in form.email.errors%}
                 <span>{{error}}</span>
             {% endfor %}
           </div>
       {% else %}
           {{ form.email(placeholder="email") }}
       {% endif %}
        </div>

        <br>
        <!--<input type="password" name="password" placeholder="password" />-->
        <div class="wrap-input100 validate-input">
        {% if form.password.errors %}
           {{ form.password(class="input100", placeholder="password") }}
           <div class="right">
             {% for error in form.password.errors%}
                 <span>{{error}}</span>
             {% endfor %}
           </div>
       {% else %}
           {{ form.password(class="input100", placeholder="password") }}
       {% endif %}
        </div>

        <br>
        <!--<input type="password" name="password2" placeholder="confirm password" />-->
        <div class="wrap-input100 validate-input">
        {% if form.confirm_password.errors %}
           {{ form.confirm_password(class="input100", placeholder="confirm password") }}
             <div class="right">
             {% for error in form.confirm_password.errors%}
                 <span>{{error}}</span>
             {% endfor %}
             </div>
       {% else %}
           {{ form.confirm_password(class="input100", placeholder="confirm password") }}
       {% endif %}
       </div>

        <br>
        <div class=container-login100-form-btn>
        {{ form.submit(class="login100-form-btn") }} <!--<input type="submit" name="signup_submit" value="create account" />-->
        </div>
        </div>
        </div>
      </div>
        <!--</fieldset>-->
    </form>
  </div>
</body>
{% endblock content %}