{% extends "testlayout.html" %}
{% block content %}
<body>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        
    <div id="login-box">
      <div class="left">
        <h1>login</h1>

    <!--<input type="text" name="email" placeholder="email" />-->
    {% if form.email.errors %}
       {{ form.email(placeholder="email") }}
       <div class="right"> <!--<div class="invalid-feedback">-->
         {% for error in form.email.errors%}
             <span>{{error}}</span>
         {% endfor %}
       </div>
   {% else %}
       {{ form.email(placeholder="email") }}
   {% endif %}
    <br>
    <!--<input type="password" name="password" placeholder="password" />-->
    {% if form.password.errors %}
       {{ form.password(placeholder="password") }}
       <div class="right"> <!--<div class="invalid-feedback">-->
         {% for error in form.password.errors%}
             <span>{{error}}</span>
         {% endfor %}
       </div>
   {% else %}
       {{ form.password(placeholder="password") }}
   {% endif %}
    <br>
    
    {{ form.submit(class="signup_submit") }} <!--<input type="submit" name="signup_submit" value="create account" />-->
     </div>
    </div>
    </form>
    <form method="POST" action="/createaccount">
        {{ form2.submit }}
    </form>
</body>
{% endblock content %}