{% extends "testlayout.html" %}
{% block content %}
<body>
    <div class="container">
    <header>
      <h2>daily mood tracker</h2>
      <p>keep track of your mood</p>
 
    </header>
    <main id="main">
    </main>
  
    </div>

    <h2>{{ subtitle }}</h2>
    <p>{{ text }}</p>

    <form method="post" action="/generate-happy">
        <div class="container-login100-form-btn">
            <button class="login100-form-btn">
                <!--<input type="submit" value="create account" name="createaccount"/>-->
                {{ form.submit(class="container-login100-form-btn login100-form-btn") }}
            </button>
        </div>
    </form>

    <form method="post" action="/generate-sad">
        <div class="container-login100-form-btn">
            <button class="login100-form-btn">
                <!--<input type="submit" value="create account" name="createaccount"/>-->
                {{ form2.submit(class="container-login100-form-btn login100-form-btn") }}
            </button>
        </div>
    </form>

    <form method="post" action="/generate-bored">
        <div class="container-login100-form-btn">
            <button class="login100-form-btn">
                <!--<input type="submit" value="create account" name="createaccount"/>-->
                {{ form3.submit(class="container-login100-form-btn login100-form-btn") }}
            </button>
        </div>
    </form>

</body>
{% endblock content %}