<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="icon" type="image/png" href="{{ favicon }}"> <!--"images/icons/favicon.ico"/> -->

	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/util.css') }}"> <!-- href="css/util.css"> -->
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/main.css') }}"> <!--"css/main.css">-->

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{{ image_1 }}" > <!--"images/img-01.png" alt="IMG">-->
				</div>

				<form method="POST" action="" class="login100-form validate-form"> 
                    
					<span class="login100-form-title">
						Login
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                        {{ form.email(class_="input100") }} <!--<input class="input100" type="text" name="email" placeholder="Email">-->
                        {% if form.email.errors %}
                           {{ form.email(class="wrap-input100 validate-input") }}
                           <div class="invalid-feedback">
                             {% for error in form.email.errors%}
                                 <span>{{error}}</span>
                             {% endfor %}
                         {% else %}
                             {{ form.email(class="wrap-input100") }}
                         {% endif %}
                           </div>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						{{ form.password(class_="input100") }} <!--<input class="input100" type="password" name="pass" placeholder="Password">-->
						{% if form.password.errors %}
                           {{ form.password(class="wrap-input100 validate-input") }}
                           <div class="invalid-feedback">
                             {% for error in form.password.errors%}
                                 <span>{{error}}</span>
                             {% endfor %}
                         {% else %}
                           {{ form.password(class="wrap-input100") }}
                         {% endif %}
                            </div>
                        <span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
                        {{ form.submit(class="login100-form-btn") }}
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="#">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script src="js/main.js"></script>

</body>
</html>